body {
  font-family: "Lato", sans-serif;
}
footer {
  float: bottom;
  width: 80%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: rgba(18,125,120, 0.9);
  position: absolute;
  bottom: 0;
  right: 0;
}
.copyright {
  width: 50%;
  float: left;
  align-content: center;
  text-align: center;
}
.link {
  width: 50%;
  float: right;
  align-items: center;
  position: relative;
  top: 50%;
}
.link a {
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: -50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.side-bar {
  height: 100%;
  width: 17%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(18,125,120);
  border-right: 1px solid #C1C8C0;
  display: block;
}
.sub-menu {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 25%;
  border-bottom: 1px solid #C1C8C0;
}
.side-bar a:hover {
  color: #C1C8C0;
}
.image-place{
  border-bottom: 1px solid #C1C8C0;
  padding-left: 25%;
  background-color: #fff;
}
.choose-game {
  border-radius: 4px;
  background-color: #163333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 320px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.choose-game:hover{
  background-color: #127D78;
}
.choose-game span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.choose-game span:after {
  font-size: 30px;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.choose-game:hover span {
  padding-right: 25px;
}

.choose-game:hover span:after {
  opacity: 1;
  right: 0;
}

.right-side{
  width: 83%;
  height: 100%;
  float: right;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(193, 200, 192, 0.3);
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

.game{
  position: relative;
}

.slider-button{
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  font-size: 30px;
}

.left-orientation{
  position:absolute;
  top:50%;
  left:5%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%)
}
.right-orientation{
  position:absolute;
  top:50%;
  right:5%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%)
}
.game-image{
  width: 65%;
  height: 65%;
}
